
  .image-background {
    background: no-repeat bottom left url("../../../assets/icon/TCBBackgroundLogo.png"), linear-gradient(to bottom left, #136BBF, #000134);
    height:100vh;    
  }



  .card {
    padding: 2rem;
    gap: 2rem;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 18%), 0 0 15px 0 rgb(0 0 0 / 12%), 0 0 20px 4px rgb(0 0 0 / 16%);
  }

  .card-white {
      background-color: white;
  }



  
  .input-container {
    background-color: #f5f5f5;
    position: relative;
    border-radius: 5px;
    height: 56px;
    transition: background-color 500ms;
    width: 100%;
  }
  
  .input-container:hover {
    background-color: #ececec;
  }
  
  .input-container:focus-within {
    background-color: #dcdcdc;
  }
  
  label {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: rgba(0, 0, 0, 0.5);
    transform-origin: left top;
    user-select: none;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
  }

  
  
  input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    caret-color: var(--accent-color);
    border: 1px solid transparent;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    transition: border 500ms;
    padding: 20px 16px 6px;
    font-size: 1rem;
  }
  
  input:focus {
    outline: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--accent-color);
  }
  
  input:focus + label {
    color: var(--accent-color);
  }
  
  input:focus + label,
  input.is-valid + label {
    transform: translateY(-100%) scale(0.75);
  }
  
  .btn{
      border-radius: 30px;
      box-shadow: 0 0 8px 0 rgb(0 0 0 / 18%), 0 0 15px 0 rgb(0 0 0 / 8%), 0 0 20px 4px rgb(0 0 0 / 10%);
  }

  .login-text {
    font-weight: 600;
    line-height: 1.2;
    padding-left: 15px;
    font-family: 'Noto Serif','Times New Roman',Times,serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border-left-width: 4px;
    border-left: 8px solid #cc0000;
  }

  .cursor-pointer {
      cursor: pointer;
      color: black !important;
  }


  .shake-animation {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



.new {
  padding: 0px;
}

.form-group {
  display: block;
  margin-bottom: -32px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 6px;
  height: 18px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}