<div class="image-background">
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-lg-4 col-12 text-center pt-4">
                <img src="../../../assets/tcb-logo/tcb-logo-white.png" height="60" alt="">
            </div>
        </div>

        <div class="row justify-content-center justify-content-lg-end align-items-center pt-5 pr-lg-5">
            <div class="col-lg-4 col-md-6 col-sm-8 col-10">


                <!-- Username Password Authentication Form -->
                <div *ngIf="displayLogin">
                    <form [formGroup]="loginValues" novalidate>
                        <div class="card">
                            <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                <span class="login-text">Login</span>
                            </h3>
                            <div class="input-container">
                                <input type="text" id="name" formControlName="username" required />
                                <label for="name">Username</label>
                            </div>

                            <div class="input-container">
                                <input type="password" id="password" formControlName="password" required />
                                <label for="password">Password</label>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="login(loginValues)">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>



                <!-- Giving Information About the Guardian App to the User -->
                <div *ngIf="authListTypes">
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                    <span class="login-text">Login</span>
                                </h3>
                                <p class="mt-3">In order to continue, Select one of the Authentication Type.</p>
                            </div>
                        </div>

                        <div class="row">
                            <ul class="list-group col-12">
                                <li *ngFor="let mfaItems of mfaList; let i = index" class="list-group-item">
                                    <span class="cursor-pointer"
                                        *ngIf="mfaItems?.authenticator_type == 'otp' && mfaItems?.active == true"
                                        (click)="submitSelection(mfaItems.authenticator_type,mfaItems.id,mfaItems.name)">OTP</span>
                                    <span class="cursor-pointer"
                                        *ngIf="mfaItems?.authenticator_type == 'oob' && mfaItems?.oob_channel =='auth0' && mfaItems?.active == true"
                                        (click)="submitSelection(mfaItems.authenticator_type,mfaItems.id,mfaItems.name)">Push
                                        Notification</span>
                                    <span class="cursor-pointer"
                                        *ngIf="mfaItems?.authenticator_type == 'oob' && mfaItems?.oob_channel =='sms' && mfaItems?.active == true"
                                        (click)="submitSelection(mfaItems.authenticator_type,mfaItems.id,mfaItems.name)">SMS
                                        Notification</span>
                                    <span class="cursor-pointer"
                                        *ngIf="mfaItems?.authenticator_type == 'oob' && mfaItems?.oob_channel =='email' && mfaItems?.active == true"
                                        (click)="submitSelection(mfaItems.authenticator_type,mfaItems.id,mfaItems.name)">Email
                                        Notification</span>
                                    <span class="cursor-pointer"
                                        *ngIf="mfaItems?.authenticator_type == 'recovery-code' && mfaItems?.active == true"
                                        (click)="submitSelection(mfaItems.authenticator_type,mfaItems.id,mfaItems.name)">Recovery
                                        Code</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Display List of selections to the User -->
                <div *ngIf="displaySelections">

                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                    <span class="login-text">Secure Your Account</span>
                                </h3>
                                <p class="mt-3">In order to continue, Enroll in One of the Authentication Type.</p>
                            </div>
                        </div>

                        <div class="row">
                            <ul class="list-group col-12">
                                <li *ngFor="let mfaItems of enrol; let i = index" class="list-group-item">
                                    <span class="cursor-pointer" *ngIf="mfaItems?.authenticator_type != 'oob'"
                                        (click)="submitEnrolment(mfaItems.authenticator_type,mfaItems.oob_channel)">OTP
                                        Notification</span>
                                    <span class="cursor-pointer"
                                        *ngIf="mfaItems?.authenticator_type == 'oob' && mfaItems?.oob_channel =='auth0'"
                                        (click)="submitEnrolment(mfaItems.authenticator_type,mfaItems.oob_channel)">Push
                                        Notification</span>
                                    <span class="cursor-pointer"
                                        *ngIf="mfaItems?.authenticator_type == 'oob' && mfaItems?.oob_channel =='sms'"
                                        (click)="submitEnrolment(mfaItems.authenticator_type,mfaItems.oob_channel)">SMS
                                        Notification</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>




                <!-- QR Authentication Step -->
                <div *ngIf="displayPlayStoreInfo">
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                    <span class="login-text">Secure Your Account</span>
                                </h3>
                                <p class="mt-3">In order to continue, install the Auth0 Guardian app via the app store
                                    from your mobile device.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-2 mb-lg-0">
                                <a target="_blank"
                                    href="https://play.google.com/store/apps/details?id=com.auth0.guardian">
                                    <img src="../../../assets/icons/playstore.png" height="55" alt="">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <a target="_blank" href="https://apps.apple.com/us/app/auth0-guardian/id1093447833">
                                    <img src="../../../assets/icons/appstore.png" height="55" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="text-center col-12">
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="ContinueQR()">Continue</button>
                            </div>
                        </div>

                        <div>
                            <div class="text-center col-12">
                                <span class="cursor-pointer" (click)="ContinueOtherMethods()"
                                    style="cursor: pointer; font-weight:600">Try Another
                                    Method</span>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- QR Code Screen -->
                <div *ngIf="displayQRCodeInfo">
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                    <span class="login-text">Secure Your Account</span>
                                </h3>
                                <p class="mt-3">Scan the QR Code below using the Auth0 guardian app on your mobile
                                    device</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <qr-code [value]="barCode"></qr-code>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <p class="col">
                                Once done scanning the QR code. Click on Validate to check the device
                            </p>
                            <div class="text-center col-12">
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="validatePushOTP()">Validate</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-12">
                                <span class="cursor-pointer" (click)="ContinueOtherMethods()"
                                    style="cursor: pointer; font-weight:600">Try Another
                                    Method</span>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Phone Number Registration -->
                <div *ngIf="displayPhoneRegistration">
                    <form [formGroup]="phoneForm" novalidate>
                        <div class="card">
                            <div class="col">
                                <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                    <span class="login-text">Secure Your Account</span>
                                </h3>
                                <p class="mt-3">Enter the Phone number to enable MFA through SMS</p>
                            </div>
                            <div class="input-container">
                                <input type="text" id="phoneNumber" formControlName="phoneNumber" required />
                                <label for="phoneNumber">Phone Number</label>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="submitPhone(phoneForm)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>



                <!-- Display OTP -->
                <div *ngIf="displayOTP">
                    <form [formGroup]="smsOTP" novalidate>
                        <div class="card">
                            <div class="col">
                                <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                    <span class="login-text">{{titleString}}</span>
                                </h3>
                                <p class="mt-3">Enter the {{changeString}}</p>
                            </div>
                            <div class="input-container">
                                <input type="text" id="smsOTP" formControlName="smsOPT" required />
                                <label for="smsOTP">Code</label>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="submitOTP(smsOTP)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- PUSH Notification Verification Screen -->
                <div *ngIf="verifyMFA">
                    <form [formGroup]="smsOTP" novalidate>
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-center text-lg-left text-md-left text-lg-left">
                                        <span class="login-text">{{titleString}}</span>
                                    </h3>
                                    <p class="mt-3">Push Notification sent to the registered Device</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <img class="shake-animation" src="../../../assets/icons/mobilePhone.png" height="200" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <h3 class="text-center">
                                        {{deviceName}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>